* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

ul, li {
    text-decoration: none;
    list-style: none;
    padding: 0px;
}

header {
    border-bottom: 1px solid #ccc;
    height: 60px;
}

.container, .caixa-planos {
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    padding: 2px 15px;
    /* background-color: red; */
}

header img {
    margin-top: 12px;
}

.container-planos {
    padding: 80px 0;
}

.plano {
    border: 1px solid #95a4a5;
    width: 370px;
    /* padding: 10px; */
    text-align: center;
    line-height: 1.6;
    float: left;
    margin-right: 20px;
}

.plano h2 {
    margin: 0;
    background-color: #95a4a5;
    color: #fff;
    line-height: 2.5;
    font-weight: normal;
    font-size: 1.75rem;
}

.plano > div {
    /* border: 1px solid red; */
    padding: 30px 5px 5px 5px; 
}

.preco {
    font-size: 1.75rem;
}

.caixa-planos::after {
    content: "";
    display: block;
    clear: both;
}

.planos-footer .botao {
    background-color: green;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.botao:hover, .botao:focus {
    background-color: rgb(2, 71, 2);
}