body {
    background-color: ivory;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
    
}

.container {
    width: 70%;
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: justify;
}

code {
    font-size: 1.2rem;
}